html {
    /*height: 100%;*/
    /*width: 100%;*/
    background-color: beige;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

div.container {
    display: grid;
    width: 100%;
    height: 100%;

}

div.header {
    min-height: 100px;
    background-color: #000000;
    align-content: center;
    animation-name: headerAnimation;
    animation-duration: 1s;
}

div.tittle{
    margin: 20px 0 3px 20px;
    font-size: 25px;
    color: whitesmoke;
    width: 50%;
    animation-name: titleAnimation;
    animation-duration: 1.5s;
}
div.subtitle {
    color: lightgray;
    animation-duration: 2.5s;
    animation-name: subtitleAnimation;
}

/* ANIMACOES */

@keyframes titleAnimation {
    from {
        margin-left: -600px;
        font-size: 1px;
    }
    to {
        font-size: 25px;
        margin-left: 20px;
    }
}
@keyframes subtitleAnimation {
    from {
        margin-left: -600px;
        font-size: 1px;
    }
    to {
        font-size: 25px;
    }
}

@keyframes headerAnimation {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #000000;
    }
}